{% import "taskform.html" as taskform %}
<h2>Covey Quadrants</h2>
<div class="quadrants">
    <div class="row">
        <div class="col-md-6 quadbox" id="q00">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Urgent and Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    {% for task in current_user.tasks if (not task.closed) and task.important and task.urgent %}
                        {{ taskform.taskpanel(task, updatetaskform) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 quadbox" id="q01">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Urgent and Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    {% for task in current_user.tasks if (not task.closed) and task.important and (not task.urgent) %}
                        {{ taskform.taskpanel(task, updatetaskform) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 quadbox" id="q10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Urgent and Not Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    {% for task in current_user.tasks if (not task.closed) and (not task.important) and task.urgent %}
                        {{ taskform.taskpanel(task, updatetaskform) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 quadbox" id="q11">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Urgent and Not Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    {% for task in current_user.tasks if (not task.closed) and not (task.important or task.urgent) %}
                        {{ taskform.taskpanel(task, updatetaskform) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
