<h2>Covey Quadrants</h2>
<div class="quadrants">
    <div class="row">
        <div class="col-md-6 quadbox" id="q00">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Urgent and Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 1</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 2</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 quadbox" id="q01">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Urgent and Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 1</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 2</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 quadbox" id="q10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Urgent and Not Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 1</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 2</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 quadbox" id="q11">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Not Urgent and Not Important</h3>
                </div>
                <div class="panel-body quadpanel">
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 1</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 2</div>
                    </div>
                    <div class="panel panel-default task">
                        <div class="panel-body">Task 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
